@import '../_variables';

.modalwork_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.modalwork_content {
    h3 {
        font-family: $ff-heading;
        text-transform: capitalize;
        font-weight: 900;
    }

    p:first-of-type {
        font-size: 17px;
        font-weight: 400;
        text-transform: capitalize;
    }

    p:nth-of-type(2) {
        font-size: 14px;
        font-weight: 700;
    }
    
}

.modalwork_links {
    font-family: $ff-pixel;
    display: flex;
    gap: 10px;

    span {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: $ff-pixel;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 700px) {
    .modalwork_content {
        h3 {
            font-size: 15px;
        }

        p:first-of-type {
            font-size: 13px;
        }

        p:nth-of-type(2) {
            font-size: 12px;
        }
    }
}
