@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

/* FONTS */
$ff-heading: 'Syne', sans-serif;
$ff-main: 'Darker Grotesque', sans-serif;
$ff-pixel: 'VT323', monospace;
$ff-style: 'Inknut Antiqua', serif;

/* COLORS */
$clr-black: #000000;
$clr-white: #ffffff;
$clr-grey: #333332;
$clr-green: #BCD979;
$clr-bg: #DDBEA8;

/* SIZES */
$container-lg: 88%;
$container-md: 92%;
$container-sm: 97%;
$pd-univ: 25px;
$hd-h1-norm: 65px;

/* TRANSITIONS */
$hvr-transition: all 450ms ease-in-out; 

/* BACKGROUND */
$bg-image: url('../assets/grain.svg');