@import "variables";
@import "animations";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: $ff-main;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
video {
    width: 100%;
    object-fit: cover;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $clr-bg;
    background-image: url('../assets/grain.svg');
    background-size: cover;
    color: $clr-grey
}

.mg-container {
    width: $container-lg;
    margin: 0 auto;
}

.display-none{ display: none !important;}

.heading {
    h3 {
        font-family: $ff-pixel;
        text-transform: uppercase;
        font-size: 25px;
        letter-spacing: .5px;
    }
}

 p {
    font-size: 19px;
    font-weight: 500;
 }

 .gradient-text {
    color: transparent;
    background: conic-gradient(
      #BCD979 12%, 
      #246A73 12%, #246A73 33%, 
      #368F8B 33%, #368F8B 55%, 
      #F3DFC1 55%, #F3DFC1 70%, 
      #8AA8A1 70%, #8AA8A1 87%, 
      #F7D1BA 87%);
    background-size: 50%;
    background-clip: text;  
    -webkit-background-clip: text;
    animation: expand-rev 0.5s ease forwards;
    cursor: pointer;
  }
  
  .gradient-text:hover {
    animation: expand 0.5s ease forwards;
  }
  
  @keyframes expand {
    0% {
      background-size: 50%;
      background-position: 0 0;
    }
    20% {
      background-size: 55%;
      background-position: 0 1em;
    }
    100% {
      background-size: 325%;
      background-position: -10em -4em;
    }
  }
  
  @keyframes expand-rev {
    0% {
      background-size: 325%;
      background-position: -10em -4em;
    }
    20% {
      background-size: 55%;
      background-position: 0 1em;
    }
    100% {
      background-size: 50%;
      background-position: 0 0;
    }
  }
 

/****************//****************/
/* NAVBAR */
/****************//****************/
.folio-nav {
    padding-block: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;

    div[class="logo"] {
        h3 {
            display: flex;
            align-items: center;
            gap: 3px;
            font-family: $ff-heading;
            font-weight: 800;
        }
    }

    div[class="links"] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        span {
            cursor: pointer;
        }
    }
}

.scrolled {
    position: sticky;
    top: 20px;
    background-color: rgb(221, 190, 168, 0.8);
    background-image: url('../assets/grain.svg');
    background-size: cover;
    border: 1.5px solid $clr-grey;
    padding: 25px;
}
/****************//****************/
/* END OF NAVBAR */
/****************//****************/

/****************//****************/
/* NAVMENU */
/****************//****************/
.nav-menu {
    position: fixed;
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: $clr-grey;
    background-image: url('../assets/grain.svg');
    color: $clr-white;
    bottom: 0;
    right: 0;
    padding: 25px;
    z-index: 1;

    a {
        text-transform: uppercase;
        font-family: $ff-heading;
        font-weight: 800;
        transition: $hvr-transition;
    }
}
/****************//****************/
/* END OF NAVMENU */
/****************//****************/

/****************//****************/
/* HEADER */
/****************//****************/
.folio-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 35px 100px;

    h1 {
        font-family: $ff-heading;
        font-size: 9.2vw;
        line-height: 9.9vw;
        max-width: 100%;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        display: inline;

        br {
            display: none;
        }
    }

    p {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
        max-width: 100%;
        padding-top: 15px;

        span[class="highlight"] {
            background-color: #BCD979;
            font-family: $ff-style;
            font-size: 14px;
        }
    }
}
/****************//****************/
/* END OF HEADER */
/****************//****************/

/****************//****************/
/* ABOUT */
/****************//****************/
.folio-about {
    div[class="heading"] {
        span {
            font-family: $ff-pixel;
            text-transform: uppercase;
            font-size: 25px;
            letter-spacing: .5px;
        }
    }

    div[class="about-body"] {
        padding-block: 25px 80px;

        >p {
            padding-bottom: 25px;
        }

        .stack {
            h4 {
                font-family: $ff-pixel;
                text-transform: uppercase;
                font-size: 18px;
                letter-spacing: .5px;
                padding-top: 10px;
            }

            p {
                font-size: 17px;
                font-weight: 600;
            }
        }
    }
}

/****************//****************/
/* END OF ABOUT */
/****************//****************/

/****************//****************/
/* WORK */
/****************//****************/
.folio-work {
    padding-bottom: 80px;
} 

.folio-work-showcase {
    div[class="work-divider"] {
        width: 98%;
        height: 1.2px;
        margin: 20px auto;
        background: $clr-grey;
    }
}
/****************//****************/
/* END OF WORK */
/****************//****************/

/****************//****************/
/* CONTACT */
/****************//****************/
.folio-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;

    h3 {
        padding-bottom: 25px;
    }

    h1 {
        text-transform: capitalize;
        font-family: $ff-heading;
        font-weight: 800;
        font-size: 50px;
        text-align: center;
    }

    p {
        width: 100%;
        text-align: center;
        font-weight: 600;
        padding-bottom: 20px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        font-size: 15px;
        font-weight: 500;
        background-color: $clr-grey;
        color: $clr-bg;
        border: 1.5px solid transparent;
        cursor: pointer;
        transition: $hvr-transition;

        &:hover {
            color: $clr-grey;
            background: transparent;
            border: 1.5px solid $clr-grey;
        }
    }
}
/****************//****************/
/* END OF CONTACT */
/****************//****************/

/****************//****************/
/* FOOTER */
/****************//****************/
.folio-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;

    .socials {
        display: flex;
        align-items: center;
        gap: 17px;
    }
}
/****************//****************/
/* END OF FOOTER */
/****************//****************/


/* MEDIA QUERIES */

@media screen and (max-width: 850px) {
    .nav-menu {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 215px;
        height: 215px;
    }

    .folio-header{
        padding-block: 10px 50px;

        h1 {
            font-size: 9.5vw;
            line-height: 10.1vw;
        }

        p {
            padding-top: 15px;
            font-size: 18px;
            line-height: 28px;
        }
    } 

    .folio-about {
        div[class="about-body"] {
            padding-block: 25px 50px;
        }
    }

    .folio-work {
        padding-bottom: 50px;
    }

    .folio-contact {
        padding-bottom: 50px;

        p {
            width: 70%;
        }
    }
}