@import "variables";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: $ff-main;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
video {
    width: 100%;
    object-fit: cover;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $clr-bg;
    color: $clr-grey
}

.mg-container {
    width: $container-lg;
    margin: 0 auto;
}

.heading {
    h3 {
        font-family: $ff-pixel;
        text-transform: uppercase;
        font-size: 25px;
        letter-spacing: .5px;
    }
}

 p {
    font-size: 19px;
    font-weight: 500;
 }

/****************//****************/
/* NAVBAR */
/****************//****************/
.folio-nav {
    padding: 25px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    div[class="logo"] {
        h3 {
            display: flex;
            align-items: center;
            gap: 3px;
        }
    }

    div[class="links"] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        a {
            text-transform: uppercase;
            font-weight: 700;
            transition: $hvr-transition;

            &:hover {
                color: purple;
            }
        }
    }
}
/****************//****************/
/* END OF NAVBAR */
/****************//****************/

/****************//****************/
/* HEADER */
/****************//****************/
.folio-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 35px 100px;

    h1 {
        font-family: $ff-heading;
        font-size: 120px;
        line-height: 140px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
    }

    p {
        font-size: 20px;
        text-align: center;
    }
}
/****************//****************/
/* END OF HEADER */
/****************//****************/

/****************//****************/
/* ABOUT */
/****************//****************/
.folio-about {
    div[class="heading"] {
        span {
            font-family: $ff-pixel;
            text-transform: uppercase;
            font-size: 25px;
            letter-spacing: .5px;
        }
    }

    div[class="about-body"] {
        padding-block: 25px 80px;

        >p {
            padding-bottom: 25px;
        }

        .stack {
            h4 {
                font-family: $ff-pixel;
                text-transform: uppercase;
                font-size: 18px;
                letter-spacing: .5px;
                padding-top: 10px;
            }

            p {
                font-size: 17px;
                font-weight: 600;
            }
        }
    }
}

/****************//****************/
/* END OF ABOUT */
/****************//****************/

/****************//****************/
/* WORK */
/****************//****************/
.folio-work {
    padding-bottom: 80px;
} 

.folio-work-showcase {
    div[class="work-divider"] {
        width: 98%;
        height: 1.2px;
        margin: 20px auto;
        background: $clr-grey;
    }
}
/****************//****************/
/* END OF WORK */
/****************//****************/

/****************//****************/
/* CONTACT */
/****************//****************/
.folio-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    gap: 15px;

    h1 {
        text-transform: capitalize;
        font-family: $ff-heading;
        font-weight: 800;
        font-size: 50px;
    }

    p {
        width: 40%;
        text-align: center;
        font-weight: 600;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        font-size: 15px;
        background-color: $clr-grey;
        color: $clr-bg;
        border: 0.5px solid transparent;
        cursor: pointer;
    }
}
/****************//****************/
/* END OF CONTACT */
/****************//****************/

/****************//****************/
/* FOOTER */
/****************//****************/
.folio-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;

    .socials {
        display: flex;
        align-items: center;
        gap: 17px;
    }
}
/****************//****************/
/* END OF FOOTER */
/****************//****************/